@import "_common";
// fancybox fix
.fancybox-overlay{
    background-image: url(../images/background00.jpg);
    background-size: cover;
    background-position: top center;
}
.fancybox-opened .fancybox-skin{
    box-shadow: none;
}
.fancybox-skin {
    background: transparent;
}
.fancybox-close{
    right: 0;
}
// sweet alert fix
.sweet-alert{
    border-radius: 0;
    font-family: Noto Serif,PT Serif,"source-han-serif-tc",Songti TC,serif;
}
.sweet-alert button{
    border-radius: 0;
}
.sweet-alert{
    background-image: url(../images/background00.jpg);
    border: 1px solid #bdb4a8;
}
.sweet-alert .sa-icon{
}
.sweet-overlay{
    background-color: rgba(249,246,241,.6)
}
.sa-icon{
    display: none!important;
}
.sweet-alert h2{
    margin-top: 15px;
    margin-bottom: 15px;
}
// layout
body,html{
    // font-family:\5FAE\8EDF\6B63\9ED1\9AD4;
    // font-family:Microsoft JhengHei;
   font-family: Noto Serif,PT Serif,"source-han-serif-tc",Songti TC,serif;
   font-size: 18px;
}
    .normalh2{
        font-size: $f30px; //30px;
    }
.wrapper{

}
    .wrapperBg{
        background-image: url(../images/background00.jpg);
        background-size: cover;
        background-position: top center;
    }
        .member_bg_deco{
            position: absolute;
            top: 0;
            pointer-events: none;
        }
            .mbd_left{
                left: 0;
            }
            .mbd_right{
                right: 0;
            }
        .secbg{
            background-image: url(../images/background00.jpg);
        }
        .deliverCart{
            clear: both;
            padding: 20px 0;
            box-sizing: border-box;
            p{
                text-align: left;
                line-height: 130%;
                padding: 10px;
                background: #a28f7e;
                color: white;
                font-size: 15px;
            }
        }
.container960{
    @include container(960px);
}
.container768{
    @include container(768px);
}
.container720{
    @include container(720px);
}
.container640{
    @include container(640px);
}
.container480{
    @include container(480px);
}
    // 1108new
    .menu-pc-list-2{
        width: 100%;
        box-sizing: border-box;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background: rgba(27,22,17,.9);
        .mpc2{
            color: #fffbef;
            float: left;
            padding: 26px 16px;
            box-sizing: border-box;
            text-decoration: none;
            transition: text-decoration .5s ease;
            position: relative;
            &:hover{
                &:after{
                    content:"";
                    position: absolute;
                    display: block;
                    width: 100%;
                    bottom: 15px;
                    left: 0;
                    box-sizing: border-box;
                    border-bottom: 1px solid #a6968a;
                    border-top:0px; 
                    border-left:0px; 
                    border-right:0px; 
                }
            }
        }
        img{
            display: block;
        }
        .mpc-2-left{
            // border-left: 1px solid #a6968a;
            background-color: #090604;
        }
    }
        .mpc2deco{
            &:after{
                content:"";
                border: 1px solid #fffbef;
                padding: 19px 16px;
                box-sizing: border-box;
                position: absolute;
                top: 21%;
                left: 0;
                width: 100%;
            }
        }
    .menu-pc2-lr{
        float: right;
    }
    .mpc_logo{
        position: relative;
        z-index: 3;
    }
    .menupc{
        position: fixed;
        top: 0;
        left: 3%;
        z-index: 3;
        a{
            display: block;
            // width: 70px;
            img{
                display: block;
                // width: 100%;
            }
        }
    }
    .mpc_tele{
        position: fixed;
        left: 3%;
        bottom: 0;
    }
    .mpc{
        display: block;
        width: 70px;
        background-repeat: no-repeat;
        margin-bottom: 1px;
    }
    .menum{
        display: none;
    }
    .menum-scroll{
        height: 90vh;
        overflow-y: scroll;
    }
    .menum_top{
        margin-top: 30px;
    }
    .shopping_pc{
        position: fixed;
        right: 3%;
        bottom: 0;
        z-index: 3;
        a{
            display: block;
            img{
                display: block;
            }
        }
    }
    .shopping_m{
        display: none;
    }
.copyrightWrapper{
    padding-top: 20px;
    padding-bottom: 20px;
    box-sizing: border-box;
    p{
        text-align: center;
        font-size: 11px;
        color: $grayp;
        line-height: 200%;
    }
    .cpp{
        font-size: 15px;
        a{
            color: #555;
            text-decoration: none;
            padding: 5px;
            &:hover{
                border: 1px solid #555;
                box-sizing: border-box;
            }
        }
    }
}
    .copypc{
        display:block;
    }
    .copym{
        display:none;
    }
.menum-open{
    position: fixed;
    z-index: 1987;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    background-color: rgba(53,41,32,.98);
}
    .menum-list{
        // width: 300px;
        // position: absolute;
        // top: 15%;
        // left: 50%;
        // margin-left: -150px;
        margin-top: 30px;
        width: 70%;
        margin: 30px auto 0 ;
        a{
            // @include span(6);
            display: block;
            padding-top: 20px;
            padding-bottom: 20px;
            box-sizing: border-box;
            text-decoration: none;
            color: #f4efe6;
            text-align: center;
            font-size: $f20px;
            border-bottom: 1px solid #a6968a;
        }
        .mli1{
            // border-right: 1px solid #f4efe6;
            // border-bottom: 1px solid #f4efe6;
        }
        .mli2{
            // border-bottom: 1px solid #f4efe6;
        }
        .mli3{
            // border-right: 1px solid #f4efe6;
        }
        .mli4{}
    }
    .mm-close{
        width: 25px;
        height: 25px;
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        img{
            width: 100%;
        }
    }
@media( max-width : 1280px ){
    .menu-pc-list-2{
        width: 100%;
        box-sizing: border-box;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background: rgba(27,22,17,.9);
        .mpc2{
            color: #fffbef;
            float: left;
            // padding: 21px 20px;
            padding: 22px 16px;
            box-sizing: border-box;
            text-decoration: none;
            // font-size: 13px;
        }
        img{
            display: block;
            // width: 22%;
        }
        .mpc-2-left{
            // border-left: 1px solid #a6968a;
            background-color: #090604;
        }
    }
    .mpc2deco{
        &:after{
            // padding: 22% 10%;
        }
    }
}
@media( max-width : 1080px ){
    .menupc{
        display: none;
    }
    .menum{
        position: relative;
        z-index: 3;
        display: block;
        a{
            width: 55px;
            position: absolute;
            img{
                display: block;
                width: 100%;
            }
        }
        .mm_logo{
            top: 0;
            left: 7%;
        }
        .mm_ham{
            top: 35px;
            right: 7%;
        }
    }
    .menu-pc-list-2{
        display: none;
    }
}
@media( max-width : 1024px ){
    .member_bg_deco{
        display: none;
    }
    .menupc{
        a{
            // width: 50px;
            img{
                // width: 100%;
            }
        }
    }
}
@media( max-width : 640px ){
    .wrapperBg{
        background-image: url(../images/bgm.jpg);
        background-size: auto;
    }
    .normalh2{
        font-size: $f20pxM; //20px;
    }
    .shopping_pc{
        display: none;
    }
    .shopping_m{
        display: block;
        display: table;
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 4;
    }
        .sm_3{
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            padding-top: 10px;
            padding-bottom: 10px;
            box-sizing: border-box;
            a{
                display: block;
                img{
                    display: block;
                    margin: 0 auto;
                    // max-width: 95px;
                    // width: 100%;
                    // width: auto;
                    // height: 22px;
                }
            }
        }
        .sm3_fast{
            background-color: $darkred;
            width: 25%;
            img{
                width: 94%;
            }
        }
        .sm3_line{
            background-color: #4ecd00;
            width: 25%;
            img{
                width: 78%;
            }
        }
        .sm3_fb{
            background-color: #0084ff;
            width: 25%;
            img{
                width: 78%;
            }
        }
        .sm3_tel{
            background-color: #301409;
            width: 25%;
            img{
                width: 78%;
            }
        }
        .deliverCart{
            padding: 0;
        }
    .copyrightWrapper{
        padding-bottom: 25%;
        box-sizing: border-box;
        p{
            text-align: gray!important;
            text-decoration: none!important;
        }
    }
    .copypc{
        display:none;
    }
    .copym{
        display:block;
    }
}
@media(max-width:414px){
    body,html{
        font-size: 16px;
    }
    .menum{
        a{
            width: 40px;
        }
        .mm_ham{
            top: 26px;
        }
    }
}