@import "_setting";
@import "_pm";
.container_password{
    padding-left: 4%;
    padding-right: 4%;
    box-sizing: border-box;
    .normalh2{
        padding-top: 120px;
        padding-bottom: 60px;
        box-sizing: border-box;
        text-align: center;
    }
}
    .pwimg{
        width: 165px;
        margin: 0 auto;
        display: block;
    }
@media( max-width : 640px ){

}