@import "_setting";
@import "_pm";
@import "_singlePage";
.reportContainer640{
    padding-bottom: 30px;
    box-sizing: border-box;
    padding-top: 100px;
}
.reportImgList{
    margin-bottom: 10px;
    img{
        width: 100%;
        margin-bottom: 10px;
    }
}
@media( max-width : 640px ){
    .reportContainer640{
        padding-left: 7%;
        padding-right: 7%;
        box-sizing: border-box;
        padding-bottom: 70px;
        padding-top: 0;
    }
}